{% if options.type == "repeater" %}

{% if options.content is defined %}
    {% setcontent carousel = options.content %}
{% else %}  
    {% set carousel = record %}
{% endif %}

<style>
.swiper-container {
        width: 100%;
    }
    .swiper-slide {
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    
    .text-container {
        display: flex-inline;
        text-align: center;
        position: absolute;  
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
</style>

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
        
            {# items #}
            {% set active = 0 %}
            {% for field in attribute(carousel, options.repeatername) %}
                <div class="swiper-slide">
                    <img src="{{ paths.root }}files/{{ field.get('repeatimage').file }}" alt="{{ field.get('repeattitle') }}">
                    <div class="text-container">
                        {% if options.title  %}
                        <h3>{{ field.get('repeattitle') }}</h3>
                        {% endif %}
                        {% if options.caption  %}
                        <p>{{ field.get('repeatcontent')|raw }}</p>
                        {% endif %}
                    </div>
                </div>
                
            {% set active = active + 1 %}
            {% endfor %}
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- Add Arrows -->
        <!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
    </div>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationType: 'bullets',
        paginationClickable: true,
        initialSlide: {{ options.start }}
    });
    </script>

{% endif %}

